body { height: 100vh; }
@keyframes animbkg {
  from { background-position: 0 0; }
  to { background-position: center center; }
}
#default-bkg {
  background-image: url(./assets/sara-the-freak-A4UojtraSrw-unsplash-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#clear {
  animation: animbkg 5s linear ease-in-out;
  background-image: url(./assets/marc-wieland-TrzlGaRedf0-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sunny {
  animation: animbkg 5s linear ease-in-out;
  background-image: url(./assets/marko-blazevic-GFFGe2eGmiM-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#rainy {
  animation: animbkg 5s linear ease-in-out;
  background-image: url(./assets/zenad-nabil-QNgT5iy62BM-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#overcast {
  animation: animbkg 5s linear ease-in-out;
  background-image: url(./assets/nathan-anderson-uftVkZ1ikn4-unsplash-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: white;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.info {
  
  border-radius: 5px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 3rem;;
}
.collection {
  border: 2px solid rgba(255, 255, 255, 0.5); 
  width: 60%; 
}
.info form {
  text-align: center;
}
#form label { color: white; }
#form input {
  background-color: transparent;
  border: 0.1px solid white;
  border-radius: 5px;
  color: white;
  padding: 0.2rem;
}
#form input::placeholder { color: rgba(255, 255, 255, 0.5); }
#form button {
  background-color: transparent;
  border: 0.1px solid white;
  border-radius: 5px;
  color: white;
  margin-left: 0.9rem;
}
#temp-form {
  color: white;
  margin-top: 1rem;
}
.data {
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  width: 75%;
}
.data-pt {
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 1rem;
  margin: 0 auto;
  margin: 1rem;
  padding: 3rem;
  text-align: center;
  width: 30%;
}