body {
  font-family: 'Epilogue', sans-serif;
  height: 100vh;
}
nav p {
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: center;
}
nav hr {
  width: 30%;
}
.hidden {
  height: 0px;
  visibility: hidden;
  width: 0px;
}
.visible {
  visibility: visible;
}
#default-bkg {
  background-image: url('https://www.dropbox.com/s/qvr1zer40qeb8jl/sara-the-freak-A4UojtraSrw-unsplash-2.jpg?raw=1');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#clear {
  background-image: url('https://www.dropbox.com/s/z223yz1okwnrraf/marc-wieland-TrzlGaRedf0-unsplash.jpg?raw=1');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sunny {
  background-image: url('https://www.dropbox.com/s/7kcy2okw6o6dnd9/zwaddi-YvYBOSiBJE8-unsplash.jpg?raw=1');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#rainy {
  background-image: url('https://www.dropbox.com/s/q99wsf4v67v415p/marc-zimmer-1dNujhlCTYQ-unsplash.jpg?raw=1');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#overcast {
  background-image: url('https://www.dropbox.com/s/987qwzurxkevofs/nathan-anderson-uftVkZ1ikn4-unsplash-2.jpg?raw=1');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info {
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 3rem;
}
.collection {
  width: 35%; 
}
.info form {
  text-align: center;
}
#form label { color: white; }
#form input {
  background-color: transparent;
  border: 0.1px solid rgb(255, 255, 255, 0.4);
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  width: 60%;
}
#form input::placeholder { color: rgba(255, 255, 255, 0.5); }
#form button {
  background-color: transparent;
  border: 0.1px solid rgb(255, 255, 255, 0.4);
  border-radius: 5px;
  color: white;
  margin-left: 0.9rem;
}
.btn {
  padding: 0.5rem;
}
#temp-form {
  color: white;
  margin-top: 1.5rem;
}
.data {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 2rem;
  position: relative;
  top: 20%;
  width: 85%;
}
.data-pt {
  color: white;
  font-weight: bold;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 30%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 2.75rem;
  height: 1.125rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 0.625rem;
  width: 0.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider { background-color: #2196F3; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }
#temp-label { margin-right: 0.5rem; }
#city-label {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5;
  margin: 0 auto;
  text-align: center;
  width: 30%;
}
#date {
  color: white;
  font-size: 1rem;
  left: 4.5%;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .data {
    flex-direction: column;
    margin-top: 5rem;
    width: 50%;
    position: static;
  }
  #city-label { width: 100%; }
  #date { position: static; }
}

@media only screen and (max-width: 767px) {
  body { height: 100%; }
}

@media only screen and (max-width: 500px) {
  .collection { width: 80%; }
}